<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Народный инспектор - Создание заявления</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon" th:href="@{/img/favicon.png}">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin th:href="@{https://fonts.gstatic.com}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"
  th:href="@{https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet" th:href="@{/vendor/aos/aos.css}">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" th:href="@{/vendor/glightbox/css/glightbox.min.css}">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" th:href="@{/vendor/swiper/swiper-bundle.min.css}">

  <!-- Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" th:href="@{/}" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1>Народный инспектор</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html#hero" th:href="@{/#hero}">Главная</a></li>
          <li><a href="user.html" th:href="@{/user}">Личный кабинет</a></li>
          <li><a href="index.html#faq" th:href="@{/#faq}">FAQ</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted" href="applicationForUser.html" th:href="@{/user/application}">Добавить правонарушение</a>
    </div>
  </header>
  <main class="main">
    <div class="page-title light-background">
    <div class="row" style=" background-color: white;">
      <div class="col-md-4" style="background-color: #f3f9ff;">
        <form th:object="${applications}" method="GET" enctype="utf8">
          <div class="row" style="padding: 3%; border-radius: 50px; margin-top: 10px;">
            <div class="container" style="display: flex; justify-content: space-between;">
              <input type="text" class="container-input" name="description" id="description" placeholder="Поиск по заявлениям" style="height: 15%; width: 100%; margin-right: 5px;">
              <div style="margin-left: 5px;">
                <button th:disabled="${#lists.isEmpty(applications)}" type="submit" class="btn-search" th:formaction="'/application/search/create'">
                  <i class="bi bi-search"></i>
                </button>
              </div>
              <div style="margin-left: 5px;">
                <input th:value="${sort}" name="typeSort" id="typeSort" hidden>
                <button th:disabled="${#lists.isEmpty(applications)}" type="submit" class="btn-search" th:formaction="'/application/sort/create'">
                  <i class="bi bi-chevron-expand"></i>
                </button>
              </div>
            </div>
          </div>
        
          <div th:each="app : ${applications}" class="application-list" >
            <button class="application-item" th:formaction="'/user/application/'+${app.id}">
              <div class="row mainblock">
                <input th:value="${app.id}" name="applicationId" id="applicationId" hidden>
                <div th:text="'№ ' + ${app.id}" name="appId" class="number"></div>
                <div th:text="${app.title}" class="name"></div>
              </div>
              <div class="row mainblock">
                <div th:text="${#dates.format(app.dateArrive, 'dd.MM.yyyy')}" class="date"></div>
                <div th:text="${app.status.statusName}" class="status"></div>
              </div>
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-8" style="padding: 2%;">
        <form th:action="@{/user/application/send}" th:object="${applicationDto}" method="POST" enctype="multipart/form-data">
          <h1 style="font-size: 36px;">Создание заявления</h1>
            <div class="form-group" style="margin: 0 auto;">
              <label for="titleName">Название</label>
              <input th:field="*{title}" type="text" class="form-control" id="titleName" placeholder="Введите название заявления" required>
              <err th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></err>
            </div>
            <div class="form-group" style="margin: 0 auto;">
              <label for="dateViolation">Дата и время происшествия</label>
              <input th:field="*{dateViolation}" name="dateViolation" type="datetime-local" class="form-control" id="dateOfApplication" placeholder="Выберите дату и время" required>
            </div>
            <div class="form-group" style="margin: 0 auto;">
              <label for="district">Район</label>
              <select th:field="*{district}" name="district" id="district" class="form-control" required>
                <option th:each="distr : ${districts}" th:value="${distr.districtName}" th:text="${distr.districtName}"></option>
              </select>
            </div>
            <div class="form-group" style="margin: 0 auto;">
              <label for="address">Приблизительный адрес</label>
              <input th:field="*{address}" type="text" class="form-control" id="address" placeholder="Введите адрес" required>
            </div>
            <div class="form-group" style="margin: 0 auto;">
              <label for="violation">Правонарушение</label>
              <select th:field="*{violations}" name="violations" id="violations" class="form-control" multiple required>
                <option th:each="viol : ${violations}" th:value="${viol.article}" th:text="${viol.article} + ' ' + ${viol.name}"></option>
              </select>
            </div>
            <div class="form-group" style="margin: 0 auto;">
              <label for="information">Описание</label>
              <textarea th:field="*{information}" id="information" class="form-control" style="height: 113px !important;" rows="2" cols="20" wrap="hard" placeholder="Опишите ситуацию" required></textarea>
            </div>
            <div class="form-group" style="margin: 0 auto;">
              <label for="uploaded-files">Прикрепленные файлы</label>
              <label class="upload-button" for="file-upload">
                <i class="bi bi-plus-lg"></i>
                Добавить файл</label>
              <input type="file" name="files" id="file-upload" class="file-upload" accept="image/*,video/*,audio/*" multiple required/>
              <ul id="file-list" class="list-group"></ul>
            </div>
        <button type="submit" class="btn-lk">Отправить</button>
      </form>
      </div>
    </div>
  </div>
</main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" th:href="@{index.html}" class="logo d-flex align-items-center">
            <span class="sitename">Народный инспектор</span>
          </a>
          <div class="footer-contact pt-3">
            <p>г. Астрахань, АГТУ</p>
            <p><strong>Email:</strong> <span>info@peoples-inspector.ru</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://astu.org" th:href="@{https://astu.org}"><i class="bi bi-buildings"></i></a>
            <a href="https://t.me/aleksey_plekhanov" th:href="@{https://t.me/aleksey_plekhanov}"><i class="bi bi-bug"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Разделы сайта</h4>
          <ul>
            <li><a href="index.html#hero" th:href="@{/#hero}">Главная</a></li>
            <li><a href="index.html#about" th:href="@{/#about}">О портале</a></li>
            <li><a href="user.html" th:href="@{/user}">Личный кабинет</a></li>
            <li><a href="applicationForUser.html" th:href="@{/user/application}">Заявить о правонарушении</a></li>
            <li><a href="index.html#faq" th:href="@{/#faq}">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span> Разработан в рамках дисциплины "Командный проект" - Плеханов, Самодуров, Таргачева</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" th:href="@{#}" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="assets/vendor/php-email-form/validate.js" th:src="@{vendor/php-email-form/validate.js}"></script>
  <script src="../static/vendor/aos/aos.js" th:src="@{vendor/aos/aos.js}"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js" th:src="@{vendor/glightbox/js/glightbox.min.js}"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js" th:src="@{vendor/swiper/swiper-bundle.min.js}"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js" th:src="@{vendor/purecounter/purecounter_vanilla.js}"></script>

  <!-- Main JS File -->

  <script>
    document.querySelector('select[multiple]').addEventListener('mousedown', (e) => {
      if (e.target.tagName === 'OPTION') {
        e.preventDefault(); // Отменяем действие по умолчанию
        const option = e.target;
        option.selected = !option.selected; // Инвертируем выбранный элемент
        e.target.parentNode.dispatchEvent(new Event('change')); // Генерируем событие изменения
      }
    });
    
    window.addEventListener('change', () => {
        const violationSelect = document.getElementById('violations');
        const selectedOptions = Array.from(document.getElementById('violation').selectedOptions).map(option => option.value);
        console.log('Выбранные правонарушения:', selectedOptions);
    });

    window.addEventListener('load', () => {
      const datetime = new Date().toISOString().slice(0, -8);
      document.getElementById('dateOfApplication').value = datetime;
      document.getElementById('dateOfApplication').setAttribute('max', datetime);

      const currentDate = new Date();
      currentDate.setMonth(currentDate.getMonth() - 1);
      const lastMonthDate = currentDate.toISOString().slice(0, -8);

      document.getElementById('dateOfApplication').setAttribute('min', lastMonthDate);
    });

    const fileListArray = []; // Массив для хранения загруженных файлов

    document.getElementById('file-upload').addEventListener('change', function(event) {
    const fileList = event.target.files;
    const fileListElement = document.getElementById('file-list');

    for (let i = 0; i < fileList.length; i++) {
        const file = fileList[i];
        fileListArray.push(file); // Добавляем файл в массив

        const listItem = document.createElement('button');
        listItem.className = 'list-group-item d-flex align-items-center';
        listItem.type = 'button'

        // Создаем элемент иконки
        const icon = document.createElement('i');
        icon.className = 'bi bi-file-earmark'; // Иконка файла
        icon.style.marginRight = '10px'; // Отступ справа от иконки

        // Создаем кнопку "Удалить"
        const deleteButton = document.createElement('button');
        Object.assign(deleteButton.style, {
            marginRight: '10px',
            background: 'none',
            border: 'none',
            cursor: 'pointer'
        });

        deleteButton.type = 'button';
        deleteButton.className = 'bi bi-trash';

        deleteButton.onclick = (function(index) {
            return function(event) {
                event.stopPropagation(); // Останавливаем всплытие события
                const fileIndex = fileListArray.indexOf(fileList[index]);
                if (fileIndex > -1) {
                    fileListArray.splice(fileIndex, 1); // Удаляем файл из массива
                    fileListElement.removeChild(listItem); // Удаляем элемент списка
                }
            };
        })(i);

        listItem.onclick = function() {
            console.log(file);
        };

        // Добавляем иконку и имя файла в элемент списка
        listItem.appendChild(deleteButton);
        listItem.appendChild(icon);
        listItem.appendChild(document.createTextNode(file.name));
        fileListElement.appendChild(listItem);
    }
});
  </script>
  <script src="../static/js/main.js" th:src="@{js/main.js}"></script>

</body>

</html>